/.config/yamusic-tui/config.yaml
/.config/yamusic-tui/config1.yaml
/.config/zsh/.histfile
/.config/rbw
/.config/sunshine/sunshine_state.json
/.config/sunshine/sunshine.log
/.config/sunshine/portal_token
/.config/sunshine/credentials
/.config/sunshine/apps.json
/.config/sunshine/covers
